<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy Birthday Henri :)</title>
    <meta name="description" content="Your birthday present" />
    <link rel="icon" type="image/x-icon" href="http://henrieta.azurewebsites.net/images/favicon.png">


    <meta property="og:title" content="Happy Birthday Henri :)">
    <meta property="og:image" content="http://henrieta.azurewebsites.net/images/Birthday Card.png">
    <meta property="og:description" content="Your birthday present">
</head>
<body>

    @RenderBody()

   
</body>
</html>